       
        body {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            min-width: min-content;
        }

        @keyframes reveal{
        0%{opacity: 0;}
        20%{opacity: 0,2;}
        30%{opacity:0,3}
        50%{opacity:0,5}
        80%{opacity: 0,8;}
        100%{opacity: 1;}
      }

        @keyframes slide_from_left{
        0%{margin-left:-800px;}
        100%{margin-left:70px;}
      }

        @keyframes slide_from_right{
        0%{margin-right:70px;}
        100%{margin-right: 20px;}
      }


        .column {
            margin: 5% 1% 20px 70px;
            padding: 10px 20px 0px 20px;
            place-content: center;
            animation: reveal 3s;
        }

            .column a:link {
                color: forestgreen !important;
            }

            .column a:hover {
                color: darkgreen !important;
                background-color: lightgrey !important;
                
            }

            .column a:active {
                color:forestgreen !important;
                background-color: darkgrey;
            }

                    
        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        @media only screen and (max-width: 1000px) {
            [class*="col-"] {
                width: 80%;
            }
        }

        @media only screen and (max-width: 1000px) {
            .formula {
                margin-top: -80px !important;
                margin-bottom: 0px !important;
                width: 108%;
            }
        }

        @media only screen and (max-width: 1000px) {
            .productivity {
                margin-left: -10px !important;
                
            }
        }

        @media only screen and (max-width: 1000px) {
            #controlyourreaction, #elaboratetheexperience, #prioritize {
                width: 35% !important;
            }
        }

        .topnav {
            padding: 0px;
            width:100%;
            margin: 0px 0px 0px 0px;
            font-family: "Montserrat", sans-serif;
            position: relative;
            cursor: pointer;
            z-index: +1;
            display: inline-block;
            border-radius: 0px !important;

            
        }

        

        nav a:hover {
            background-color: white;
            color: black;
            transition: 0.7s;
                        
        }

        .m_green {
            background-color: #3CB371;
        }

        .m_white {
            background-color: azure;
        }

        .m_grey {
            background-color: #E0E0E0;
        }

        .m_dark_green {
            background-color: #177245; 
        }

        .card, .card-2 {
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            font-weight: 300;
        }

        .left-align {
            text-align: left !important;
        }

        .center-align {
            text-align: center !important;
        }

        .bar-item {
            margin: 0px 0px 0px 0px;
            display: inline-grid;
            font-size: 21px;
            color: white;

        }


        .padding-large {
            padding: 21px 24px !important;
        }

        .button {
            vertical-align: middle;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            
        }

        header {
            padding: 100px;
            margin: auto;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            min-width: inherit;
        }

        .title {
            margin: auto;
            font-family: "Montserrat", sans-serif;
            font-size: 80px;
            color: white;
            min-width: inherit;
        }

        .mainsubtitle {
            color: white;
            font-family: "Montserrat", sans-serif;
        }

        .subtitle {
            font-family: "Montserrat", sans-serif;
            font-size: 30px;
            margin-bottom: 0px;
            
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
        }

        .logo {
            position: relative;
            padding: 0px;
            animation: animated_logo 8s, spin 4s infinite;
            animation-iteration-count: infinite;
            -webkit-animation: animated_logo 8s, spin 4s infinite;
            -webkit-animation-iteration-count: infinite;
        }

        @-webkit-keyframes animated_logo {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: 230px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: 0px;
            }

            75% {
                left: -230px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }

        @-webkit-keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }



        .wrapper {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            text-align: justify;
            text-justify: inter-word;
            }

        

        
        .formula {
            max-width: 120%;
            position: center;
            margin-top: 35%;
            margin-bottom: 25%;
            height: auto;
            width: auto\9; /* ie8 */
            display: block;
        }

        .productivity {
            max-width: 100%;
            position: center;
            margin-left:-10px;
            margin-top:20px;
            height: auto;
            width: auto\9; /* ie8 */
            
            
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .icon_title {
            margin-bottom: 5px;
        }

        ul.a {
            list-style-type: disclosure-closed;
        }

        .boxitem {
            background-color: transparent;
            
        }

        #prioritize, #controlyourreaction, #elaboratetheexperience  {
            margin-top:20px;
            vertical-align:middle;
        }

        #finaladvice {
            padding: 90px 100px 60px 100px;
            
        }

        .contactus {
            -webkit-box-shadow: 0px -1px 3px;
            -moz-box-shadow: 0px -1px 3px;
            box-shadow: 0px -1px 3px;
            display: inline-flex !important;
            padding: 30px 100px 30px 100px;
                       
        }

            .contactus a:hover {
                transform: rotate(360deg);
                transition-duration: 1.5s;
            }

       
        .drawing:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
           animation: shake 0.5s;

      /* When the animation is finished, start again */
           animation-iteration-count: infinite;
             }

        @keyframes shake {
          0% { transform: translate(1px, 1px) rotate(0deg); }
          10% { transform: translate(-1px, -2px) rotate(-1deg); }
          20% { transform: translate(-3px, 0px) rotate(1deg); }
          30% { transform: translate(3px, 2px) rotate(0deg); }
          40% { transform: translate(1px, -1px) rotate(1deg); }
          50% { transform: translate(-1px, 2px) rotate(-1deg); }
          60% { transform: translate(-3px, 1px) rotate(0deg); }
          70% { transform: translate(3px, 1px) rotate(-1deg); }
          80% { transform: translate(-1px, -1px) rotate(1deg); }
          90% { transform: translate(1px, 2px) rotate(0deg); }
          100% { transform: translate(1px, -2px) rotate(-1deg); }
        }


        



        .secondary_header {
            padding: 30px;
            margin: auto;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            min-width: inherit;

        }

        .secondary_title {
            font-family: "Montserrat", sans-serif;
            font-size: 75px; 
            color: white;
        }

        .card_with_border {
            border: solid;
            border-radius: 5px;
            border-color: darkgreen;
            padding: 20px 10px 20px 10px;
            background-color: #b9e3c6;
            font-size: 18px;
            text-align: center;
        }

            .card_with_border img {
                margin-bottom: 40px;
                margin-top: 30px;
                border: solid;
                border-radius: 10px;
                background-color: #fa4659;
            }

            .card_with_border p {
                padding:4px 4px 4px 4px;
            }

        